<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Holberton</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>
        {% if g.user %}
            {% if g.user['locale'] == 'fr' %}
                Vous êtes connecté en tant que {{ g.user['name'] }}.
            {% else %}
                You are logged in as {{ g.user['name'] }}.
            {% endif %}
        {% else %}
            {% if g.lang == 'fr' %}
                Vous n'êtes pas connecté.
            {% else %}
                You are not logged in.
            {% endif %}
        {% endif %}
    </p>
</body>
</html>
